<!DOCTYPE html>
<html lang="en" ng-app="recipe-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recipes</title>
    <link href="css/recipe.css" rel="stylesheet">
  </head>
  <body ng-controller="ListController">
    <h1>Recipes</h1>
    <div class="container">
	  <div class="recipe" ng-repeat="recipe in recipes">
	  <div>{{ recipe.title }}<button ng-click="remove(recipe.id)">X</button></div>
	  <p>{{ recipe.ingredients }}</p>
      </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/recipe.js"></script>
  </body>
</html>
